.App-container {
  position: relative;
}

.App-info {
  position: absolute;
  right:0;
  top:0;
  background: #ccc;
  width: 40vw;
  height: 100vh;
}

.App-list {
  position: absolute;
  left:0;
  top:0;
  background: #ccc;
  width: 20vw;
  height: 100vh;
}