.App-container {
  position:absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App-map-container{
  position:absolute;
  height: 100vh;

}

.App-list-button {
  position: absolute;
  left:20px;
  bottom:20px;
  z-index: 10;
}

.App-info-button {
  position: absolute;
  right:20px;
  bottom:20px;
  z-index: 10;
}

.App-map {
  width: 50%;
  margin-left: 20vw;
  height: 100vh;
}

.App-info {
  position: absolute;
  width: 30%;
  right:0;
  top:0;
  background: #ccc;
  height: 100vh;
  transition: transform .4s ease !important;
  transform: translateX(0) !important;
}

.App-info.is-inactive {
  transform: translateX(100%) !important;
}

.App-list {
  position: absolute;
  width: 20%;
  left:0;
  overflow: scroll;
  top:0;
  background: #ccc;
  
  height: 100vh;
  transition: transform .4s ease !important;
  transform: translateX(0) !important;
}

.App-list.is-inactive {
  transform: translateX(-100%) !important;
}

