.App-container {
  position:absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leaflet-container{
  height: 100vh;
}

.App-map {
  width: 40vw;
  margin-left: 20vw;
  height: 100vh;
}

.App-info {
  position: absolute;
  right:0;
  top:0;
  background: #ccc;
  width: 40vw;
  height: 100vh;
}

.App-list {
  position: absolute;
  left:0;
  overflow: scroll;
  top:0;
  background: #ccc;
  width: 20vw;
  height: 100vh;
}